@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
    font-family: 'Shabnam';
    src: url('/public/fonts/Shabnam.woff2') format('woff2'),
         url('/public/fonts/Shabnam.woff') format('woff'),
         url('/public/fonts/Shabnam.ttf') format('truetype')و
         url('/public/fonts/Shabnam.eof') format('truetype');
    font-weight: normal;
    font-style: normal;
  } 

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Shabnam' ,Arial, Helvetica, sans-serif;
}
