@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
    font-family: 'Shabnam';
    src: url('/public/fonts/Shabnam.woff2') format('woff2'),
         url('/public/fonts/Shabnam.woff') format('woff'),
         url('/public/fonts/Shabnam.ttf') format('truetype')و
         url('/public/fonts/Shabnam.eot') format('truetype');
    font-weight: normal;
    font-style: normal;
  } 

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Shabnam' ,Arial, Helvetica, sans-serif;
}

/* --- WebKit browsers (Chrome, Safari, Edge) --- */
::-webkit-scrollbar {
  width: 8px;             /* ضخامت اسکرول عمودی */
  height: 8px;            /* ضخامت اسکرول افقی */
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(172, 172, 172, 0.5); /* رنگ خاکستری شفاف */
  border-radius: 10px;
  border: 2px solid transparent;  /* فاصله داخلی برای کمی لبه نرم */
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.8);
}

/* --- Firefox --- */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}
